.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #34343499;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  width: clamp(500px, 40%, 900px);
  background-color: var(--light-green);
  border: 5px solid var(--dark-green);
  border-radius: 1rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.modal__content > h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  .modal__content {
    padding: 1.5rem 2rem;
  }
  .modal__content > p {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1500px) {
  .modal__content {
    border-width: 7px;
    padding: 3.5rem 3.75rem;
    font-size: 1.6rem;
    gap: 3rem;
  }
  .modal__content > h1 {
    font-size: 1.75rem;
  }
}
